<p style="color: green"><%= notice %></p>

<h1>Invoices</h1>

<div id="invoices">
  <%= @invoices %>    
</div>

<%= link_to "New invoice", new_invoice_path %>
<%= link_to "Wallets", wallets_path %>
<%= link_to "NFTs", nfts_path %>
