<p style="color: green"><%= notice %></p>

<h1>Nft Contracts</h1>

<div id="nfts">
  <%= @nfts %>
</div>

<%= link_to "Nft", nfts_path %>
<%= link_to "Wallets", wallets_path %>
<%= link_to "Invoices", invoices_path %>
