<p style="color: green"><%= notice %></p>

<h1>Wallets</h1>

  <%= @wallets %>
  <br>

<%= link_to "New wallet", new_wallet_path %>
<%= link_to "NFTs", nfts_path %>
<%= link_to "Invoices", invoices_path %>
